name: Release to CurseForge

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Package and release
        uses: BigWigsMods/packager@v2
        with:
          api-token: ${{ secrets.CURSEFORGE_API_TOKEN }}